
# Consolidado V√°rios arquivos em Python

"Consolidado v√°rios arquivos em Python" geralmente se refere a um processo em que voc√™ pega diversos arquivos separados (como planilhas Excel, CSVs, TXT, JSON, etc.) e os une em um √∫nico arquivo ou DataFrame para facilitar a an√°lise.

üëâ Em outras palavras: voc√™ junta dados dispersos em um s√≥ lugar.

üîé Para que isso serve?

- Organiza√ß√£o dos dados ‚Äì ao inv√©s de analisar arquivos isolados, voc√™ coloca tudo em um √∫nico dataset.

- An√°lise unificada ‚Äì permite calcular m√©tricas e gerar relat√≥rios sem precisar abrir cada arquivo manualmente.

- Automatiza√ß√£o ‚Äì se voc√™ tem muitos arquivos (ex: vendas por m√™s), pode automatizar a jun√ß√£o deles.

- Prepara√ß√£o para dashboards ‚Äì facilita levar os dados consolidados para o Power BI, Excel ou SQL.

In [1]:
import pandas as pd
# os: biblioteca padr√£o do Python, usado para interagir com o sistema operacional.
import os

#### Quero trazer para o ambiente de trabalho tr√™s pastas, logo, antes de consolidar (unificar as tr√™s numa s√≥) vou abrir cada uma e executar .head(5) para conhecer umpouco dos dados.

In [2]:
vendas2021 = pd.read_excel(r"C:\Users\Jailson\Downloads\Eu. Python do B√°sico ao Avan√ßado\list\analytics-with-python\arquivos\Vendas2021.xlsx")
vendas2021.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [3]:
vendas2022 = pd.read_excel(r'C:\Users\Jailson\Downloads\Eu. Python do B√°sico ao Avan√ßado\list\analytics-with-python\arquivos\Vendas2022.xlsx')
vendas2022.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2022-12-30,267,1,Moda,639,USA,15,Shorts,250,701,7,4907,199.5
1,2022-12-30,819,1,Moda,639,USA,15,Shorts,250,677,7,4739,199.5
2,2022-12-29,120,4,Acess√≥rios,639,USA,12,Relogio,10,81,15,1215,577.5
3,2022-12-29,160,3,Eletr√¥nicos,636,Alemanha,9,Notebook,10,481,125,60125,5887.5
4,2022-12-29,712,3,Eletr√¥nicos,636,Alemanha,9,Notebook,10,784,125,98000,5887.5

In [4]:
vendas2023 = pd.read_excel(r'C:\Users\Jailson\Downloads\Eu. Python do B√°sico ao Avan√ßado\list\analytics-with-python\arquivos\Vendas2023.xlsx')
vendas2023.head(5)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2023-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2023-04-02,599,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,739,15,11085,7795.125
2,2023-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2023-04-02,1151,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,953,15,14295,7795.125
4,2023-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

### Consolidado Arquivos de uma pasta

Para que fuincione a consolida√ß√£o os arquivos t√™m que  ter as mesmas colunas

In [ ]:
# diret√≥rio dos arquivos em Excel (onde est√£o as planilhas que irei consolida/juntar)
import pandas as pd
import os

# Aqui voc√™ define a pasta onde est√£o os arquivos Excel que ser√£o consolidados.
# O r antes da string transforma em raw string, para o Python n√£o confundir as barras \ como caracteres especiais.
diretorio = (r"C:\Users\Jailson\Downloads\Eu. Python do B√°sico ao Avan√ßado\list\analytics-with-python\arquivos")

# uma lista vazia para receber as informa√ß√µes seguintes
# Essa lista vai servir como ‚Äúcaixa de armazenamento‚Äù tempor√°rio, onde cada planilha lida ser√° guardada.
dados = []

# iterar sobre os arquivos em excel no diret√≥rio onde est√£o as planilhas, √© como o Python vai buscar
# O os.listdir(diretorio) pega todos os arquivos que est√£o dentro da pasta informada.
# O for vai percorrer cada arquivo dessa lista, um por vez, armazenando o nome em arquivo.
for arquivo in os.listdir(diretorio):

    # Verifica se o nome do arquivo termina com .xlsx (ou seja, se √© um arquivo Excel). Assim, arquivos de outros tipos (.txt, .csv, etc.) s√£o ignorados.
    if arquivo.endswith('.xlsx') and arquivo.startswith("Vendas"): # and arquivo.startswith("Vendas") indica que se houver outros arquivos na mesma pasta que n√£o seja 'Vendas" vai ser ignorado

        # Monta o caminho completo at√© o arquivo.
            # diretorio √© a pasta.
            # arquivo √© s√≥ o nome do arquivo.
            # os.path.join junta os dois corretamente, sem precisar se preocupar com \ ou /.
        caminho_arquivo = os.path.join(diretorio, arquivo)

        #L√™ o arquivo Excel usando o pandas e cria um DataFrame (df) com os dados da planilha.
        df = pd.read_excel(caminho_arquivo)

        # Adiciona esse DataFrame (df) √† lista dados.
        # No final do loop, dados vai ser uma lista com v√°rios DataFrames, um para cada planilha encontrada.
        dados.append(df)

# consolidade os dados em um √∫nico dataFrame
    # Junta todos os DataFrames da lista dados em um √∫nico DataFrame chamado consolidado.
    # Esse √© o momento em que a consolida√ß√£o realmente acontece.
    # As tabelas s√£o empilhadas, ficando uma embaixo da outra.
consolidado = pd.concat(dados, ignore_index=True)

# Mostra as primeiras 5 linhas do DataFrame consolidado, s√≥ para conferir o resultado.
consolidado.head()

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acess√≥rios,637,Fran√ßa,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000

In [7]:
# caminho da pasta onde ser√° salvo o arquivo consolidado
pasta_destino = r"C:\\Users\\Jailson\Downloads\\Eu. Python do B√°sico ao Avan√ßado\\list\\analytics-with-python\\arquivos\\arquivo_consolidado"

# vari√°vel com a cria√ß√£o do nome desse arquivo consolidado
nome_arquivo = 'Vendas_2021_2023.xlsx'

# caminho completo do destino. 
caminho_completo = pasta_destino + nome_arquivo

# salvar o novo Dataframe como um arquivo em xlsx
consolidado.to_excel(caminho_completo, index=False)

### Salvando consolidado em uma pasta especifica Formato CSV

In [8]:
pasta_destino_csv = r"C:\\Users\\Jailson\Downloads\\Eu. Python do B√°sico ao Avan√ßado\\list\\analytics-with-python\\arquivos\\arquivo_consolidado"

nome_arquivo_csv = 'Vendas_2021_2023.csv'

caminho_completo_csv = pasta_destino_csv + nome_arquivo_csv

consolidado.to_csv(caminho_completo_csv, index=False,sep=',')

### Salvando consolidado em uma pasta especifica Formato txt

In [9]:
pasta_destino_txt = r"C:\\Users\\Jailson\Downloads\\Eu. Python do B√°sico ao Avan√ßado\\list\\analytics-with-python\\arquivos\\arquivo_consolidado"

nome_arquivo_txt = 'Vendas_2021_2023.txt'

caminho_completo_txt = pasta_destino_txt + nome_arquivo_txt

consolidado.to_csv(caminho_completo_txt, index=False,sep='\t')